.contact {
    background: linear-gradient(135deg, #811aff, #4da6ff);
    color: white;
    padding: 50px 0;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.contact h1 {
    font-size: 60px;
    margin-bottom: 10px;
    margin-left: 55px;
    color: #ffffff;
    font-weight: bold ;
}

.contact form {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 500px; /* Augmenter la largeur maximale du formulaire */
    margin: 0 auto;
    margin-top: 20px;
    margin-left: 44px;
}

.contact input[type="text"],
.contact input[type="email"],
.contact input[type="password"] {
    width: 100%;
    padding: 10px; /* Augmenter la taille du padding */
    margin: 15px 0; /* Augmenter la marge */
    border: none;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.2);
    color: white;
    font-size: 16px; /* Augmenter la taille de la police */
}

.contact input[type="text"]::placeholder,
.contact input[type="email"]::placeholder,
.contact input[type="password"]::placeholder {
    color: rgba(255, 255, 255, 0.8);
}

.contact button[type="submit"] {
    background-color: #4211d9;
    color: white;
    padding: 15px; /* Augmenter la taille du padding */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 20px; /* Augmenter la taille de la police */
}

.contact button[type="submit"]:hover {
    background-color: #003380;
}

.success-message {
    color: #22ff22;
    margin-top: 20px;
    font-weight: bold;
}

.error-message {
    color: #ea0018;
    margin-top: 20px;
    font-weight: bold;
}

.login-link {
    margin-top: 20px;
    color: #ffffff;
}

.login-link a {
    color: #ffd700;
    text-decoration: underline;
}

.login-link a:hover {
    color: #ffcc00;
    text-decoration: none;
}
