.header {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(rgba(8,0,58,0.7),rgba(8,0,58,0.7)), url('../../assets/head.jpg');
    background-size: cover;
    background-position: center;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 1rem;
}

.hero-text {
    max-width: 90%;
    word-wrap: break-word; /* Force le texte à passer à la ligne si nécessaire */
}

.hero-text h1 {
    font-size: 5vw;
    font-weight: 600;
    margin: 0;
}
.typewriter-container {
    display: inline-block;
    max-width: 100%; /* Limite la largeur du texte */
    word-wrap: break-word;
    overflow-wrap: break-word;
}
.hero-text p {
    font-size: 2.5vw;
    margin: 10px auto 20px;
    line-height: 1.4;
    word-wrap: break-word;
    overflow-wrap: break-word;
    max-width: 100%; /* Assure que le texte ne dépasse pas les bords */
}

/* Styles pour les très petits écrans (mobiles) */
@media (max-width: 480px) {
    .hero-text h1 {
        font-size: 6vw;
    }

    .hero-text p {
        font-size: 4vw;
        max-width: 95%;
    }
}