.dashboard-wrapper {
    display: flex;
    height: 100vh;
}
.side{
    z-index: 10000000;
}
.sidebar {
    width: 280px;
    background-color: #343a40; /* Dark background */
    color: #fff;
    padding: 20px;
    overflow-y: auto; /* Enable scrolling if content overflows */
}

.sidebar-title {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.sidebar-nav {
    list-style: none;
    padding: 0;
}

.sidebar-nav li {
    margin-bottom: 10px;
}

.sidebar-nav a {
    color: #fff;
    text-decoration: none;
}

.sidebar-nav a:hover {
    text-decoration: underline;
}

