.login {
    background: linear-gradient(135deg, #360473, #863dd2);
    color: white;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 0;
}

.login img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.login h1 {
    font-size: 60px;
    margin-bottom: 10px;
    margin-left: 55px;
    color: #ffffff;
    font-weight: bold;
}

.login form {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    margin-top: 20px;
    margin-left: 44px;
}

.login input[type="email"],
.login input[type="password"] {
    width: 100%;
    padding: 15px;
    margin: 15px 0;
    border: none;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.2);
    color: white;
    font-size: 16px;
}

.login input[type="email"]::placeholder,
.login input[type="password"]::placeholder {
    color: rgba(255, 255, 255, 0.8);
}

.login button[type="submit"] {
    background: linear-gradient(135deg, #360473, #6526a2);
    color: white;
    padding: 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
    width: 100%;
    margin-top: 10px;
    font-size: 20px;
}

.login button[type="submit"]:hover {
    background-color: #003380;
}

.error-message {
    color: #dc3545;
    margin-top: 20px;
    font-weight: bold;
    text-align: center;
}

.signup-link {
    margin-top: 20px;
    color: #ffffff;
    text-align: center;
}

.signup-link a {
    color: #ffd700;
    text-decoration: underline;
}

.signup-link a:hover {
    color: #ffcc00;
    text-decoration: none;
}
